$border-color: #aaa;
$border-width: 1px;
$border: solid $border-width $border-color;
$cell-padding: 5px;
$options-panel-background: #aaa;

.record-list {

  .grid-refreshing {
    opacity: 0.4;
    cursor: wait;
  }

  md-toolbar {
    min-height: inherit;
  }

  .pagination {
    margin: 1em 0;

    button {
      min-width: 3em;
      min-height: 1.6em;
      border-radius: 2em;
      line-height: inherit;
    }
  }

  .grid-control {
    .grid-row {
      .grid-cell, .grid-header-cell {
        padding: $cell-padding;
      }

      .grid-header-cell {
        cursor: default;
      }
    }
    .options-panel {
      background: $options-panel-background;
    }

    &.has-options {
      .grid-row {
        .grid-cell {
          cursor: pointer;
        }
      }
    }

    &.sortable {
      .grid-row {
        .grid-header-cell {
          cursor: pointer;
        }
      }
    }
  }
}
