.record-list .grid-refreshing {
  opacity: 0.4;
  cursor: wait; }

.record-list md-toolbar {
  min-height: inherit; }

.record-list .pagination {
  margin: 1em 0; }
  .record-list .pagination button {
    min-width: 3em;
    min-height: 1.6em;
    border-radius: 2em;
    line-height: inherit; }

.record-list .grid-control .grid-row .grid-cell, .record-list .grid-control .grid-row .grid-header-cell {
  padding: 5px; }

.record-list .grid-control .grid-row .grid-header-cell {
  cursor: default; }

.record-list .grid-control .options-panel {
  background: #aaa; }

.record-list .grid-control.has-options .grid-row .grid-cell {
  cursor: pointer; }

.record-list .grid-control.sortable .grid-row .grid-header-cell {
  cursor: pointer; }
